<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Spróbuj ponownie</title>
    <meta name="description" content="Tylko najlepsze samochody" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--Bootstrap-->
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
<div class="container">
    <div th:replace="fragments/menu :: header">Header</div>
    <h2 th:text="#{error.default}"/></h2>
</div>
</body>
</html>