<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" media="screen" th:href="@{css/cyborg.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="jumbotron">
    <h1>ClassicGarage</h1>
    <p>Kupuj, sprzedawaj, zarabiaj.</p>
    <br>
    <div sec:authorize="isAnonymous()">
        <a href="/register" class="btn btn-primary btn-lg">Zarejestruj</a>
        <a href="/login" class="btn btn-primary btn-lg">Zaloguj</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <a href="/advertList" class="btn btn-primary btn-lg">Ogłoszenia</a>
    </div>
</div>

</body>
</html>