<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
    <link rel="stylesheet" media="screen" th:href="@{css/cyborg.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div style="margin-left:10%; margin-right: 10%">
    <h2 style="padding-top: 5%;"> Logowanie </h2>
    <div class="col-md-12">
        <div class="row col-md-5">
            <form name="f" th:action="@{/login}" method="post">
                <div style="padding-top: 3px;"></div>
                <hr>
                <div th:if="${param.error}">
                    <p th:text="#{error.logowanie}">Validation error</p>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="password">Hasło</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>
<!--                <div class="form-group">-->
<!--                    <b class="control-label col-md-4">Email</b>-->
<!--                    <div class="col-md-8"  style="margin-top: 5px;">-->
<!--                        <input style="color: black;" type="email" class="form-control" name="email" id="email" />-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <b class="control-label col-md-4">Hasło</b>-->
<!--                    <div class="col-md-8"  style="margin-top: 5px;">-->
<!--                        <input type="password" style="color: black;" name="password" />-->
<!--                    </div>-->
<!--                </div>-->
                <input type="submit" class="btn btn-primary" th:value="Zaloguj" style="margin: 10px 40%;">
                <p style="font-size: 10px; text-align: center;">Nie masz jeszcze konta? <a th:href="@{/register}">Utwórz nowe</a> </p>
            </form>
        </div>
    </div>
</div>
</body>
</html>